@import "tailwindcss";


/* Delete css and rebuild with tailwind */
:root {
    --bg: #FEFEFF;
    --color: #505050;
    --color-light: #404040;
    --color-stroke: #C5C5C5;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
p,
h1 {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    text-decoration: none;
    appearance: none;
}

.text-sm {
    font-size: 0.875rem;
}
.text-md {
    font-size: 1.25rem;
}
.text-lg {
    font-size: 2rem;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}
body {
    background: var(--bg);
    font-family: 'Jost';
    color: var(--color);
    font-size: 1.25rem;
}
.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 6rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
}
.header-content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    font-family: 'Fustat';
    font-size: 1.5rem;
    color: var(--color-light);
}
.header-line {
    width: 100%;
    max-width: 1400px;
    height: 1px;
    background-color: var(--color-stroke);
    margin-top: 1rem;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100%;
    max-width: 1200px;
    margin-top: 2rem;
}

.image {
    width: 250px;
    border-radius: 5px;
}
.product-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.25rem;
}

.product-box-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 730px) {
    .header-content {
        flex-direction: column;
        align-items: center;
    }
    .page-wrapper {
        margin: 1rem 2rem;
    }
    h1 {
        text-align: center; 
    }
}