:root {
    --bg: #FEFEFF;
    --color: #505050;
    --color-light: #404040;
    --color-stroke: #C5C5C5;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a,
button,
select,
option,
p,
h1,
h2,
h3 {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    text-decoration: none;
    appearance: none;
}

.text-sm {
    font-size: 0.875rem;
}
.text-md {
    font-size: 1rem;
}
.text-lg {
    font-size: 1.25rem;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}
body {
    background: var(--bg);
    font-family: 'Jost', system-ui, -apple-system, sans-serif;
    color: var(--color);
    font-size: 1.25rem;
}
.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 6rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.header-content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    font-family: 'Fraunces'serif;
    font-size: 1.5rem;
    color: var(--color-light);
}
.header-line {
    width: 100%;
    max-width: 1400px;
    height: 1px;
    background-color: var(--color-stroke);
    margin-top: 1rem;
}